.sidebar {
    grid-row-start: sidebar;
    grid-row-end: sidebar;
    grid-column-start: sidebar;
    grid-column-end: sidebar;
}

.sidebar {
    padding: 0;
    margin: 0;
    position: sticky;
    display: block !important;
    overflow-y: auto;
}

.sidebar-title {
    margin: 1rem;
    padding: 8px;
    color: rgb(0, 0, 77);
    border-bottom: solid 2px rgb(0, 0, 77);
}

.sidebar-items {
    padding: .5rem 1rem;
}

.sidebar-items .last {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 16px;
}

.icon {
    vertical-align: middle;
    font-size: 64px;
    color: rgb(0, 0, 77)
}

.sidebar-group {
    margin-bottom: .70rem;
}

.sidebar .expand::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
}

.sidebar .expand[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.sidebar .expand {
    padding: .25rem .5rem;
    font-weight: 600;
    border: 0;
}

.sidebar .expand[aria-expanded="true"] {
    color: rgba(0,0,0,0.85);
}

.sidebar .expand:focus {
    box-shadow: 0 0 0 1px lightblue;
}

.sidebar .expand:hover,
.sidebar .expand:focus {
    color: rgba(0,0,0,0.85);
    background-color: rgb(192, 239, 255);
}

.sidebar .active {
    font-weight: 600;
    color: rgba(0,0,0,0.85);
}
.list-item {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: rgba(0,0,0,0.65);
    text-decoration: none;
}

.list-item:hover,
.list-item:focus {
    color: rgba(0,0,0,0.85);
    background-color: lightgoldenrodyellow;
}