#login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/static/image/background.jpg") center no-repeat;
  background-size: cover;
}

ul.errors {
  list-style-type: none;
  padding-left: 0;
  margin: .5rem 0 .5rem;
}

ul.errors li {
  color: red;
  font-size: 10pt;
}

#sign-in-row {
  border-radius: 10px;
  background-color: white;
}

#sign-in-header {
  color: navy;
  font-weight: 600;
}

#register-in-header {
  color: navy;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}


.mt-9 {
  margin-top: 9rem;
}
