<aside class="sidebar">
    <div id="sidebar" class="offcanvas-sm offcanvas-start">
        <div class="offcanvas-body">
            <nav class="">
                <h2 class="sidebar-title">
                    <i class="fa-solid fa-otter fa-2x icon"></i>
                    <span>Alizarin</span>
                </h2>
                <ul class="sidebar-items list-unstyled">
                    <li class="sidebar-group">
                        <form class="d-block" action="{{ url_for('project_add') }}" method=post id="project-add"
                              name="projectadd">
                            <div class="input-group mt-0">
                                {{ project_form.name(class_="form-control ", placeholder_="Create new") }}
                                <button type="submit" class="btn btn-default">
                                    <i class="fa-solid fa-folder-plus fa"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                    <li class="sidebar-group">
                        <button class="btn expand d-inline-flex align-items-center rounded w-100"
                                data-bs-toggle="collapse" data-bs-target="#projects-collapse" aria-expanded="false">
                            Projects
                        </button>
                        <div id="projects-collapse" class="collapse">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                {% for project in projects %}
                                    <li class="mb-1">
                                        <a href="{{ url_for('project', project_id=project.project_id) }}"
                                           class="list-item d-inline-flex align-items-center rounded">{{ project.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-group">
                        <button class="btn expand d-inline-flex align-items-center rounded w-100"
                                data-bs-toggle="collapse" data-bs-target="#stories-collapse" aria-expanded="false">
                            User Stories
                        </button>
                        <div id="stories-collapse" class="collapse">
                            <ul class="list-unstyled fw-normal pb-1 small">
                               <ul class="list-unstyled fw-normal pb-1 small">
                                    <li class="mb-1">
                                        <a href="{{ url_for('story', project_id=active_project.project_id) }}" class="list-item d-inline-flex align-items-center rounded fw-bold">Manage user stories
                                        </a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </li>
                    {% if is_owner %}
                        <li class="border-bottom mt-5 mb-1"></li>
                        <li class="sidebar-group">
                            <button class="btn expand d-inline-flex align-items-center rounded w-100"
                                    data-bs-toggle="collapse" data-bs-target="#admin-collapse" aria-expanded="false">
                                Admin
                            </button>
                            <div id="admin-collapse" class="collapse">
                                <ul class="list-unstyled fw-normal pb-1 small">
                                    <li class="mb-1">
                                        <a href="{{ url_for('users', project_id=active_project.project_id) }}" class="list-item d-inline-flex align-items-center rounded fw-bold">Manage users
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-group last">
                            <a class="list-item btn btn-outline-secondary">
                                <span class="fa fa-sign-out"></span>
                                Logout
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</aside>